* {
 
    box-sizing: border-box;
}

header{
    display: flex;
    margin: 0px 0px 0px 0px ;
    padding: 0px 0px 0px 30px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */

   
   background-color:#748df1;  /* Cor de fundo */  
   color: white;
   li{
    display: inline-block;
    padding: 20px 100px 0px 100px;
    
    } 
}
main{
    display: flex;
    flex-direction: column;
    background-color: lightgray;    
    padding: 10px;
    flex: 1;  
    /* width: 100px;*/
    
}
footer {
    background-color: #748df1;    
    color: white;    
    text-align: center;   
    padding: 10px;
    
}



/* Precisei de auxilio nessa parte, vou deixar os comentarios para nã0 esquecer*/
input[type="submit"] {
    background-color: #748df1; 
    color: white;
    border: none; 
    padding: 5px 10px; 
    text-align: center; /* Centraliza o texto */
   
    display: inline-block; 
    font-size: 12px; 
    margin: 10px 0; 
    
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

input[type="submit"]:hover {
    background-color: #343f4b; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

